body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  background-image: url("https://media-cldnry.s-nbcnews.com/image/upload/rockcms/2022-03/plant-based-food-mc-220323-02-273c7b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

a {
  color: #00B7FF;
}

.login img {
  height: 30px;
}



