<%- include('../partials/header') %>

<table id="list">
    <thead>
      <tr>
        <th>food</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
<tbody>
<% meals.forEach(function(m) {%>
    <tr>
        <td><%= m.food %></td>
        <td><a href="/meals/<%= m._id %>">DETAILS</a></td> <button>DELETE</button>
    </tr>
    <% }); %>
</tbody>
</table>



<%- include('../partials/footer') %>